:root {
  --text: #9ca3af;
  --texth: #f3f4f6;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sso__container {
  position: relative;
  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: #16171d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.sso__title,
.sso__subtitle {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--texth);
}

.sso__title {
  font-size: 48px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
.sso__subtitle {
  font-size: 24px;
  line-height: 118%;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.sso__codeblock {
  font-family: var(--mono);
  display: inline-flex;
  color: var(--texth);
  font-size: 14px;
  padding: 4px 8px;
  background: #1f2028;
  width: 100%;
}

.sso__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.sso__button {
  font-family: var(--sans);
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  outline: none;
  font-weight: 600;
  text-wrap: nowrap;
  width: fit-content;
  background-color: #3b82f633;
  color: #3b82f6;
  text-align: center;
  cursor: pointer;

  height: 48px;
  padding-left: 32px;
  padding-right: 32px;

  &:hover {
    border-color: #3b82f617;
  }
}
.sso__button--full {
  width: 100%;
}
.sso__button--large {
  font-size: 18px;
  height: 56px;
  padding-left: 40px;
  padding-right: 40px;
}
.sso__button--small {
  font-size: 14px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.sso__mt {
  margin-top: 16px;
}
.sso__m-0 {
  margin: 0 !important;
}

@keyframes spinKeyframes {
  to {
    transform: rotate(360deg);
  }
}

#sso__circle__loader {
  transform-origin: 50% 50%;
  stroke: url(#loaderGradient);
  fill: none;
  animation: spinKeyframes 0.5s infinite linear;
}

/* LOGIN PART ----- start */

.sso__alert {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  background-color: #ffc107;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  border-radius: 6px;
  padding: 8px 12px;
}
.sso__alert p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.sso__alert--icon {
  width: 32px;
  height: 32px;
}

.ssoauth__container {
  max-width: 450px;
  border-radius: 8px;
  box-shadow: 0 0 20px -5px rgba(255, 255, 255, 0.1);
  padding: 24px;
}
.ssoauth__container h3 {
  color: rgba(255, 255, 255, 0.87);
}
.ssoauth__container p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 100%;
  font-weight: 300;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 40px;
}

/* LOGIN PART ----- end */
